# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
*.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# VITE_APP_EMAILJS_SERVICE_ID = service_hgwsper
# VITE_APP_EMAILJS_TEMPLATE_ID = template_t9j67ma
# VITE_APP_EMAILJS_PUBLIC_KEY = M04X7E8-THedQ8jor